.testimonial__container {
    display: flex;
    gap: 30px;
    padding-block: 120px;
    overflow-x: hidden;
}
.testimonial__swiper-wrapper {
    width: 700px;
}
.testimonial-title {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: solid var(--border-color) 1px;
}

.testimonial__swiper {
    padding-block-start: 40px;
    overflow-x: hidden;
}

.testimonial__slide-rate svg {
    color: var(--yellow-color);
}

.testimonial__slide-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial__slide-text {
    display: flex;
    flex-direction: column;
}
.testimonial__slide-text svg {
    color: var(--light-color);
}

.testimonial__content {
    position: relative;
}

.testimonial-pagination {
   bottom: 30px !important;
   transition: var(--transition);
}

.testimonial-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: var(--transition);
}

.testimonial-pagination .swiper-pagination-bullet-active {
    background: var(--secondary-color);
    width: 14px;
    height: 14px;
}

.testimonial__slide-profile-name {
    color: var(--black-color);
    font-weight: 600;
}

.testimonial__slide-profile-job {
    font-style: italic;
    font-weight: 400;
}

/* Ноутбук */
/* Ноутбук */
@media screen and (max-width: 1140.98px) {
    .testimonial__container {
        flex-direction: column;
    }
    .testimonial__content {
        order: 0;
    }
    .testimonial-img {
        order: 1;
    }
    .testimonial__swiper {
        padding-bottom: 120px;
    }

}
/* Планшет */
@media screen and (max-width: 768.98px) {
        .testimonial__slide-top {
        justify-content: center;
    }
    .testimonial__slide-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* телефон */
@media screen and (max-width: 520.98px) {}