@charset "UTF-8";

/* --- 1. Переменные (Variables) --- */
:root {
    --primary-color: #121a25;
    --secondary-color: #f51c1c;
    --secondary-color2: #4f5ac2;
    --yellow-color: #ffc107;
    --text-gray-color: #666666;
    --white-color: #ffffff;
    --ofwhite-color: #f2f2f2;
    --black-color: #000000;
    --light-color: #a5a5a5;
    --light-color2: #aaaaaa;
    --dark-color: #242424;
    --sky-color: #647589;
    --border-color: #c8c8c8;
    --border-color2: #e4e4e4;
    --border-color3: #dddddd;
    --border-dark: #383434;
    --bg-gray-color: #f7f8fc;
    --gray-color: #ebebeb;
    --gray-color2: #f5f5f5;
    
    --josefin-sans: "Josefin Sans", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-line-height: 25px;
    --headings-weight: 600;
    --transition: all 0.3s ease 0s;
    --container-fluid-offset: 190px;
}




body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    border-top-width: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--headings-weight);
    margin: 0;
    font-family: var(--josefin-sans);
}

@media only screen and (min-width: 576px) { .h1, h1 { font-size: 30px; line-height: 38px; } }
@media only screen and (min-width: 768px) { .h1, h1 { font-size: 36px; line-height: 43px; } }
@media only screen and (min-width: 992px) { .h1, h1 { font-size: 42px; line-height: 48px; } }
@media only screen and (min-width: 1200px) { .h1, h1 { font-size: 48px; line-height: 53px; } }
@media only screen and (min-width: 1600px) { .h1, h1 { font-size: 60px; line-height: 72px; } }

.h2, h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) { .h2, h2 { font-size: 25px; line-height: 30px; } }
@media only screen and (min-width: 992px) { .h2, h2 { font-size: 30px; line-height: 35px; } }
@media only screen and (min-width: 1200px) { .h2, h2 { font-size: 35px; line-height: 40px; } }

.h3, h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
@media only screen and (min-width: 992px) { .h3, h3 { font-size: 23px; line-height: 32px; } }
@media only screen and (min-width: 1200px) { .h3, h3 { font-size: 25px; line-height: 35px; } }

p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-gray-color);
    font-family: var(--open-sans);
    font-size: 16px;
    line-height: 25px;
}
p:last-child { margin-bottom: 0; }
@media only screen and (max-width: 767px) { .p, p { font-size: 14px; line-height: 24px; } }

/* --- 4. Ссылки и Кнопки (Links & Buttons) --- */
a, button {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

button, input[type=submit] {
    cursor: pointer;
    font-family: var(--josefin-sans);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
}

.primary-button {
    border: none;
    background: var(--secondary-color);
    color: var(--white-color);
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 3px;
    transition: all 0.3s;
}

.primary-button:hover {
    background: var(--primary-color);
}

.button--secondary {
    border: none;
    background: var(--white-color);
    color: var(--primary-color);
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 3px;
    font-family: var(--josefin-sans);
    font-weight: 600;
    font-size: 14px;
    border: solid var(--border-dark) 1px;
    transition: all 0.3s;
}

.button--secondary:hover {
    background: var(--secondary-color);
    border: transparent solid 1px;
    color: var(--white-color);
}

.container {
    max-width: 1440px; 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 5px;
}

.section {
    padding-block: 65px;
}


/* Swiper */


.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    
    width: 40px; 
    height: 40px; 
    background: var(--secondary-color);
    border-radius: 50%;
    
    transition: var(--transition);
    z-index: 9;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.swiper-button-prev {
    left: 10px;
    right: auto;
}

.swiper-button-next {
    right: 10px;
    left: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover { 
    background: var(--primary-color); 
    opacity: 1;
    visibility: visible;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
    display: block;
    width: 9px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.swiper-button-prev::after {
    background-image: url(../images/left-arrow-angle.webp);
}

.swiper-button-next::after {
    background-image: url(../images/right-arrow-angle.webp);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    display: none !important;
}


/* --- Анимации ( --- */
@-webkit-keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}
@keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
.animate-fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}